:root {
    --backgroundColor: #F1F0EA;
}

body {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* header */

a,
a:active {
    text-decoration: none;
    color: black;
}

header {
    /* align-self: center; */
    margin: 20px 0;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    margin: 0;
    text-transform: capitalize;
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}

#menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 14%;
    justify-content: space-between;
}

.menu-link {
    font-family: 'Anonymous Pro', monospace;
}

/* welcome content */

#page-info,
#hardle {
    width: 90%;
    margin-top: 300px;
}

#page-info h2 {
    margin: 0;
    font-size: 2.7rem;
}

h2 span:first-child {
    font-family: 'Anonymous Pro', monospace;
}

h2 span:last-child {
    font-family: 'Archivo Black', sans-serif;
}

hr {
    height: 3px;
    background-color: black;
}

#page-info p {
    font-family: 'Anonymous Pro', monospace;
    width: 40%;
    text-align: right;
    margin-right: 10px;
    margin-left: auto;
}


/* page content */

#hardle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hardle h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
    margin: 0;
}

#hardle p {
    font-family: 'Anonymous Pro', monospace;
    margin: 10px 0;
}

#hardle iframe {
    margin: 40px 0;
    width: 80%;
    height: 720px;
    background-color: white;
    border: 2px solid black;
}